/* ############################ CONTAINERS ############################  */
body {
    background-color: #9DA1A4;
}

header {
    display: flex;
    background-color: #322C34;
}

img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    padding: 10px;
}

footer {
    background-color: #314348;
}

.footer-container {
    background-color: #322C34;
}

.separator {
    width: 3vw;
}

.outer-div {
    background-color: #314348;
    margin: 5vh auto;
    padding: 5vh 5vw;
}

#outer-img-grid {
    background-color: #F7F9F9;
}

/* ############################ FONTS ############################  */
header h1 {
    color: #F7F9F9;
    font-family: "Roboto Slab", "Times New Roman", serif;
    font-weight: 700;
    font-size: 3em;
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 20px;
    }
    .setting-header {
        display: none;
    }
}

.setting-header {
    color: #F7F9F9;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1.5em;
}

footer p {
    color: #F7F9F9;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    font-weight: 300;
    font-size: 1rem;
}

footer a {
    color: #5D8AB6;
}
footer a:hover {
    color: #7DAAD6;
}


/* ############################ OTHER ############################  */
button {
    margin: 0 auto;
}

.thumbnail {
    margin-bottom: 100px;
}

.album-cover {
    padding: 0;
    margin: 0;
}




/* ############################ ANIMATIONS ############################  */
