/* ############################ CONTAINERS ############################  */
body {
    background-color: #F9F3CB;
}

header {
    display: flex;
    background-color: #E99142;
}

img {
    max-width: 100px;
    max-height: 100px;
    width: auto;
    height: auto;
    padding: 10px;
}

.separator {
    width: 3vw;
}

.outer-div {
    background-color: #F2A06A;
    margin: 5vh auto;
    padding: 5vh 5vw;
}

#outer-img-grid {
    background-color: #FFFFFF;
}

/* ############################ FONTS ############################  */
header h1 {
    color: #0C343D;
    font-family: Helvetica;
    font-weight: 100;
    font-stretch: condensed;
    font-size: 30px;
}

@media screen and (max-width: 575px) {
    header h1 {
        font-size: 20px;
    }
    .setting-header {
        display: none;
    }
}

.setting-header {
    color: #0F0F0F;
    font-family: Helvetica;
    font-weight: lighter;
    font-size: 20px;
}


/* ############################ OTHER ############################  */
button {
    margin: 0 auto;
}

.thumbnail {
    margin-bottom: 100px;
}

.album-cover {
    padding: 0;
    margin: 0;
}

.btn-primary {
    background-color: #234C8F;
    border-color: #234C8F;
}

.btn-primary:hover {
    background-color: #14A6C1;
    border-color: #14A6C1;
}




/* ############################ ANIMATIONS ############################  */
